.container{
    background-color: #515151;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    margin: 0 auto;
}

.imagem {
   width: 24%;
   background-color: #515151;
   flex-wrap: wrap;
}

  .tabela {
    width: 25%;
    background-color: #515151;
    
}
    .descricao {
      width: 50%;
    background-color: #515151;
      font-size: 9px;
      
  }

h1 {
  font-color: white;
}

